# Ambiente virtual
.venv/

# Arquivos de cache do Python
__pycache__/
*.py[cod]

# Arquivos de ambiente e credenciais
.env
.env.local
.env.development
.env.production

# Configuracoes locais do VS Code
.vscode/